<div>
  <!-- Create Server Form Modal -->
  <%= if @live_action == :new do %>
    <.live_component
      module={DiscordCloneWeb.ServerFormComponent}
      id="new-server"
      current_user={@current_user}
      action={@live_action}
      server={%DiscordClone.Servers.Server{}}
      patch={~p"/servers"}
    />
  <% end %>
</div>